/* default values and vars */
* {
    padding: 0;
    margin: 0;

    --background: #26272b;
    --primary: #6c63ff;
    --paragraph: #929292;
    --footerBrackground: #36373c;
    --footerColor: #fdfdfd;
}

h1, h3, p, input, button {
    font-family: 'Roboto', sans-serif;
    color: inherit;
}

h1 {
    font-size: 32px;
    color: var(--primary);
}

p {
    font-size: 16px;
    color: var(--paragraph);
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: var(--primary);
}

input, button {
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 24px;
    padding: 10px;
    border: 1px solid var(--paragraph);
    border-radius: 2px;
    background-color: var(--background);
    color: var(--paragraph);
}
input:hover, input:focus {
    border-color: #ffffff;
}

button, input[type=submit], input[type=reset] {
    border-color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary);
    color: #ffffff;
}
button:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* body */

body {
    background-color: var(--background);
}

/* main content */

main {
    width: 100%;
}

/* main sections */
main > section {
    width: calc(100% - 200px);
    padding: 100px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

main > section.reverse {
    flex-direction: row-reverse;
}

/* section side image*/

main section img {
    width: 30%;
    height: auto;
    object-fit: fill;
}

/* section side panel */
main section .panel {
    width: 50%;
    display: flex;
    flex-direction: column;
}

main section .panel h1 {
    width: 100%;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: var(--primary);
}

main section .panel p {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph);
}


/* section side form */
main section form {
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

main section form .title {
    width: 100%;
}

main section form .description {
    width: 100%;
}

main section form input {
    width: calc(100% - 20px);
    margin-top: 10px;
}

main section form input[name=city], main section form input[name=state] {
    width: calc(50% - 27.5px);
}

main section form input[type=submit] {
    width: 100%;
}

/* footer */
footer {
    width: calc(100% - 200px);
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    background-color: var(--footerBrackground);
    color: var(--footerColor);
}

footer section {
    width: 20%;
    display: flex;
    flex-direction: column;
}

footer section .title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}