:root {
    --primaryColor: #6C63FF;
    --paragraphColor: #929292;
    --footerBackgroundColor: #35373C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #26272b;
    height: 100vh;

}

.content {
    width: 90%;
    margin: auto;

    display: flex; 
    flex-direction: column;
}

.wrapp {
    margin: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapp .text  {
    width: 40%;
    height: auto;
}

.wrapp  h1 {
    color: var(--primaryColor);
    font-size: 3em;
    margin-bottom: 1.5vh;
}

.wrapp  p {
    color: var(--paragraphColor);
    font-size: 24px;
    line-height: 1.6;
}

.wrapp .image {
    width: 40%;
}

.wrapp .image img {
    width: 100%;
    height: auto;
}

/* FORMULÁRIO */

.wrapp form {
    width: 40%;
}

.wrapp form fieldset {
    margin-top: 1em;
    width: 100%;

    /* background-color: pink; */

    border: hidden;
    
    display: flex;
    flex-direction: column;
}

.wrapp .field-group {
    display: flex;
    justify-content: space-between;
}

.wrapp .field-group .field {
    width: 45%;
}


form select,
form input {
    width: 100%;
    background-color: transparent;

    margin-bottom: 16px;
    padding: 16px;

   border: 1px solid var(--paragraphColor);
   border-radius: 5px;

   color: var(--paragraphColor);
}


form button {
   height: 50px;
   width: 100%;

   color: white;
   background-color: var(--primaryColor);

   font-size: 15px;
   font-weight: bold;

   border: none;
}